<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Project Base</title>
</head>
<body>
    {% block 'content' %} {# całość nazywa się template TAG #}
    <h1>Bloczysko tu !</h1>
    {% endblock %}
</body>
</html>