<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POdtytul AuthorList</title>
</head>
<body>

{% extends 'base.html' %}

{% block 'content' %}
<ul>
    {% for author in object_list %}
    <li><a href="{%url 'shelf:author-detail' author.id %}"> {{author.first_name}} {{author.last_name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

</body>
</html>

