<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AuthorDetail</title>
</head>
<body>
{% extends 'base.html' %}

{% block 'content' %}
<div><a href="{%url 'shelf:author-list'%}">Powrót do listy autorów</a> </div>
<ul>
    Profil autora: {{ object.last_name }}, {{ object.first_name }}
</ul>
{% endblock %}
</body>
</html>