<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BooksList</title>
</head>
<body>
{% extends 'base.html' %}

{% block 'content' %}
<ul>
    {% for book in object_list %}
    <li>{{book.title}} {{book.author}}</li>
    {% endfor %}
</ul>
{% endblock %}

</body>
</html>